<!DOCTYPE html>
<html>
    <head>
        <title>
            student details
        </title>
    </head>
    <body>
        <h3>
            hi i am {{student_name}}!
        </h3>
        <form>
            <label for="fname">
                first name:

            </label>
            <input type="text" id="fname" name="fname">
            <br>
            <br>
        </form>
        <button type="button">
            click me
        </button>

    </body>
</html>